:root {
  --head_color: #55433b;
  --text_color: #bda79e;
  --brown: #cc561e;
  --dark_brown: #5d270e;
  --green: #108e26;
  --lime_green: #3fa43f;
  --dark_green: #005a00;
  --bg_color: #f5f5dc;
  --bg_joystick: #ecd2ba;
}

@media (orientation: landscape) {
  body {
    background-color: var(--bg_color);
    font-family: Arial, sans-serif;
  }

  h1 {
    color: var(--brown);
    font-size: 3rem;
    text-align: center;
}

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 32rem;
  }

  .maze {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .home {
    background-color: var(--lime_green);
    color: #1a1a1a;
    border: 0.15rem solid var(--dark_brown);
    border-radius: 2rem;
    padding: 0.6rem 1.25rem;
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }
}
